tests/xsd/travelport/common_v48_0/CommonReqRsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/common_v48_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.travelport.com/schema/common_v48_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Common.xsd"/>
	<!--*** Request Types ***-->
	<xs:complexType name="BaseReq">
		<xs:complexContent>
			<xs:extension base="BaseCoreReq">
				<xs:sequence>
					<xs:element ref="OverridePCC" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="RetrieveProviderReservationDetails" type="xs:boolean" use="optional" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseCoreReq">
		<xs:sequence>
			<xs:element ref="BillingPointOfSaleInfo"/>
			<xs:element ref="AgentIDOverride" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="TerminalSessionInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="TraceId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Unique identifier for this atomic transaction traced by the user. Use is optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TokenId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Authentication Token ID used when running in statefull operation. Obtained from the LoginRsp. Use is optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AuthorizedBy" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used in showing who authorized the request. Use is optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TargetBranch" type="typeBranchCode" use="optional">
			<xs:annotation>
				<xs:documentation>Used for Emulation - If authorised will execute the request as if the agent's parent branch is the TargetBranch specified.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OverrideLogging" type="typeLoggingLevel" use="optional">
			<xs:annotation>
				<xs:documentation>Use to override the default logging level</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LanguageCode" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation>ISO 639 two-character language codes are used to retrieve specific information in the requested language. For Rich Content and Branding, language codes ZH-HANT (Chinese Traditional), ZH-HANS (Chinese Simplified), FR-CA (French Canadian) and PT-BR (Portuguese Brazil) can also be used. For RCH, language codes ENGB, ENUS, DEDE, DECH can also be used. Only certain services support this attribute. Providers: ACH, RCH, 1G, 1V, 1P, 1J.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BaseSearchReq">
		<xs:complexContent>
			<xs:extension base="BaseReq">
				<xs:sequence>
					<xs:element ref="NextResultReference" minOccurs="0" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseCoreSearchReq">
		<xs:annotation>
			<xs:documentation>Base Request for Air Search</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseCoreReq">
				<xs:sequence>
					<xs:element ref="NextResultReference" minOccurs="0" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseSearchRsp">
		<xs:complexContent>
			<xs:extension base="BaseRsp">
				<xs:sequence>
					<xs:element ref="NextResultReference" minOccurs="0" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRsp">
		<xs:annotation>
			<xs:documentation>The base type for all responses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ResponseMessage" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
		<xs:attribute name="TraceId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Unique identifier for this atomic transaction traced by the user. Use is optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>System generated unique identifier for this atomic transaction.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ResponseTime" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>The time (in ms) the system spent processing this request, not including transmission times.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CommandHistory" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>HTTP link to download command history and debugging information of the request that generated this response. Must be enabled on the system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BaseCreateReservationReq">
		<xs:complexContent>
			<xs:extension base="BaseReq">
				<xs:sequence>
					<xs:element ref="LinkedUniversalRecord" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="BookingTraveler" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="OSI" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="AccountingRemark" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="GeneralRemark" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="XMLRemark" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="UnassociatedRemark" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="Postscript" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="PassiveInfo" minOccurs="0"/>
					<xs:element ref="ContinuityCheckOverride" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This element will be used if user wants to override segment continuity check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="AgencyContactInfo" minOccurs="0"/>
					<xs:element ref="CustomerID" minOccurs="0"/>
					<xs:element ref="FileFinishingInfo" minOccurs="0"/>
					<xs:element ref="CommissionRemark" minOccurs="0"/>
					<xs:element ref="ConsolidatorRemark" minOccurs="0"/>
					<xs:element ref="InvoiceRemark" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="SSR" minOccurs="0" maxOccurs="999">
						<xs:annotation>
							<xs:documentation>SSR element outside Booking Traveler without any Segment Ref or Booking Traveler Ref.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="EmailNotification" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="QueuePlace" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Allow queue placement of a PNR at the time of booking in AirCreateReservationReq,HotelCreateReservationReq,PassiveCreateReservationReq and VehicleCreateReservationReq for providers 1G,1V,1P and 1J.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="RuleName" use="optional">
					<xs:annotation>
						<xs:documentation>This attribute is meant to attach a mandatory custom check rule name to a PNR. A non-mandatory custom check rule too can be attached to a PNR.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="UniversalRecordLocatorCode" type="typeLocatorCode" use="optional">
					<xs:annotation>
						<xs:documentation>Which UniversalRecord should this new reservation be applied to.  If blank, then a new one is created.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ProviderLocatorCode" type="typeLocatorCode" use="optional">
					<xs:annotation>
						<xs:documentation>Which Provider reservation does this reservation get added to.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ProviderCode" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>To be used with ProviderLocatorCode, which host the reservation being added to belongs to.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CustomerNumber" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Optional client centric customer identifier</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Version" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ErrorInfo">
		<xs:annotation>
			<xs:documentation>Container for error data when there is an application error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeErrorInfo"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="typeLoggingLevel">
		<xs:annotation>
			<xs:documentation>The type of various Logging levels</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRACE"/>
			<xs:enumeration value="DEBUG"/>
			<xs:enumeration value="INFO"/>
			<xs:enumeration value="WARN"/>
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="FATAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BaseCreateWithFormOfPaymentReq">
		<xs:annotation>
			<xs:documentation>Container for BaseCreateReservation along with Form Of Payment</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseCreateReservationReq">
				<xs:sequence>
					<xs:element ref="FormOfPayment" minOccurs="0" maxOccurs="999">
						<xs:annotation>
							<xs:documentation>Provider:1G,1V,1P,1J,ACH,SDK.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
