tests/fixtures/defxmlschema/chapter02/example0208.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 2-8 More complicated content model -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:choice minOccurs="0" maxOccurs="3">
        <xs:element name="size" type="xs:int" />
        <xs:element name="color" type="xs:string" />
      </xs:choice>
      <xs:any namespace="##other" />
    </xs:sequence>
    <xs:attribute name="effDate" type="xs:date" />
  </xs:complexType>
</xs:schema>
