tests/fixtures/defxmlschema/chapter06/example0608.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 6-8 Using the form attribute -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datypic.com/prod" targetNamespace="http://datypic.com/prod" elementFormDefault="qualified">
  <xs:element name="product" type="ProductType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" form="unqualified" />
      <xs:element name="size" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
