tests/fixtures/defxmlschema/chapter06/example0604.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example Illegal 6-4 Assigning types to elements -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="size" type="SizeType" />
  <xs:element name="name" type="xs:string" />
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" />
        <xs:element ref="size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="anything" />
</xs:schema>
