tests/fixtures/defxmlschema/chapter18/example18011.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 18-1 A simple redefinition -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DressSizeType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:element name="size" type="DressSizeType" />
  <xs:element name="color" type="xs:string" />
</xs:schema>
