tests/fixtures/defxmlschema/chapter18/example18112.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 18-11 Overriding element and attribute declarations -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:override schemaLocation="prod1.xsd">
    <!-- SKIPTEST: XML Schema 1.1 -->
    <xs:element name="description" type="DescriptionType" />
    <xs:attribute name="version" type="xs:string" default="1.0" />
  </xs:override>
  <xs:complexType name="DescriptionType">
    <xs:sequence>
      <xs:element name="source" type="xs:string" />
      <xs:element name="content" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
