tests/fixtures/defxmlschema/chapter22/example2215.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 22-15 Original type -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:group ref="ProductPropertyGroup" />
    <xs:attributeGroup ref="ExtensionGroup" />
  </xs:complexType>
  <xs:group name="ProductPropertyGroup">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="size" type="xs:integer" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="ExtensionGroup" />
</xs:schema>
