tests/fixtures/defxmlschema/chapter22/example2205.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 22-5 Original type using open content -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:openContent>
      <xs:any namespace="##other" processContents="lax" />
    </xs:openContent>
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="size" type="xs:integer" minOccurs="0" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
</xs:schema>
