tests/fixtures/common/nhinc/common/LoadTestDataManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="urn:gov:hhs:fha:nhinc:common:loadtestdatamanagement"
            xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon"
            targetNamespace="urn:gov:hhs:fha:nhinc:common:loadtestdatamanagement" elementFormDefault="qualified">
    <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="NhincCommon.xsd" />

     <xsd:complexType name="PatientType">
        <xsd:sequence>
            <xsd:element name="patientId" type="xsd:long"/>
            <xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
            <xsd:element name="addressList" type="tns:AddressType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="identifierList" type="tns:IdentifierType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="personNameList" type="tns:PersonNameType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="phoneNumberList" type="tns:PhoneNumberType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="addressId" type="xsd:long"/>
            <xsd:element name="patientId" type="xsd:long"/>
            <xsd:element name="street1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="street2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="city" type="xsd:string" minOccurs="0"/>
            <xsd:element name="state" type="xsd:string" minOccurs="0"/>
            <xsd:element name="postal" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="IdentifierType">
        <xsd:sequence>
            <xsd:element name="identifierId" type="xsd:long"/>
            <xsd:element name="patientId" type="xsd:long"/>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="organizationId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="PersonNameType">
        <xsd:sequence>
            <xsd:element name="personNameId" type="xsd:long"/>
            <xsd:element name="patientId" type="xsd:long"/>
            <xsd:element name="prefix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="middleName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="suffix" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="PhoneNumberType">
        <xsd:sequence>
            <xsd:element name="phoneNumberId" type="xsd:long"/>
            <xsd:element name="patientId" type="xsd:long"/>
            <xsd:element name="value" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentType">
        <xsd:sequence>
            <xsd:element name="repoId" type="xsd:long"/>
            <xsd:element name="documentUniqueId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="repositoryUniqueId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rawData" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="documentid" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EventCodeType">
        <xsd:sequence>
            <xsd:element name="eventCodeId" type="xsd:long"/>
            <xsd:element name="eventCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="eventCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="eventCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentid" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataType">
        <xsd:sequence>
            <xsd:element name="documentId" type="xsd:long"/>
            <xsd:element name="documentUniqueId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentTitle" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorPerson" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorInstitution" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorRole" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorSpecialty" type="xsd:string" minOccurs="0"/>
            <xsd:element name="availablityStatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="confidentialityCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="confidentialityCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="confidentialityCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="creationTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="formatCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="formatCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="formatCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="patientId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serviceStartTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="serviceStopTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="comments" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hash" type="xsd:string" minOccurs="0"/>
            <xsd:element name="facilityCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="facilityCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="facilityCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="intendedRecipientPerson" type="xsd:string" minOccurs="0"/>
            <xsd:element name="intendedRecipientOrganization" type="xsd:string" minOccurs="0"/>
            <xsd:element name="languageCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="legalAuthenticator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="mimeType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentDocumentId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentDocumentRelationship" type="xsd:string" minOccurs="0"/>
            <xsd:element name="practiceSetting" type="xsd:string" minOccurs="0"/>
            <xsd:element name="practiceSettingScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="practiceSettingDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="size" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="sourcePatientId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pid3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pid5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pid8" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pid7" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pid11" type="xsd:string" minOccurs="0"/>
            <xsd:element name="typeCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="typeCodeScheme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="typeCodeDisplayName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentUri" type="xsd:string" minOccurs="0"/>
            <xsd:element name="onDemand" type="xsd:boolean"/>
            <xsd:element name="newDocumentUniqueId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="newRepositoryUniqueId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="persistent" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="eventCodeList" type="tns:EventCodeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="patientRecordId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="patientIdentifier" type="xsd:string" minOccurs="0"/>
            <xsd:element name="document" type="tns:DocumentType" minOccurs="0"/>
            <xsd:element name="statusDisplay" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LoadTestDataSimpleResponseMessageType">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="saveRecordId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="documentMetadataList" type="tns:DocumentMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="eventCodeList" type="tns:EventCodeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="phoneNumberList" type="tns:PhoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="identifierList" type="tns:IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="addressList" type="tns:AddressType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="patientList" type="tns:PatientType" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="personNameList" type="tns:PersonNameType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="LoadTestDataSimpleResponseMessage" type="tns:LoadTestDataSimpleResponseMessageType"/>

    <xsd:complexType name="ListAllPatientRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllPatientRequestMessage" type="tns:ListAllPatientRequestMessageType" />

    <xsd:complexType name="ListAllPersonNameRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllPersonNameRequestMessage" type="tns:ListAllPersonNameRequestMessageType" />

    <xsd:complexType name="ListAllAddressRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllAddressRequestMessage" type="tns:ListAllAddressRequestMessageType" />

    <xsd:complexType name="ListAllIdentierRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllIdentierRequestMessage" type="tns:ListAllIdentierRequestMessageType" />

    <xsd:complexType name="ListAllPhoneNumberRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllPhoneNumberRequestMessage" type="tns:ListAllPhoneNumberRequestMessageType" />

    <xsd:complexType name="DeleteDocumentRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="document" type="tns:DocumentMetadataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteDocumentRequestMessage" type="tns:DeleteDocumentRequestMessageType" />

    <xsd:complexType name="DeletePatientRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patient" type="tns:PatientType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeletePatientRequestMessage" type="tns:DeletePatientRequestMessageType" />

    <xsd:complexType name="DeletePersonNameRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="personName" type="tns:PersonNameType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeletePersonNameRequestMessage" type="tns:DeletePersonNameRequestMessageType" />

    <xsd:complexType name="DeleteAddressRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="address" type="tns:AddressType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteAddressRequestMessage" type="tns:DeleteAddressRequestMessageType" />

    <xsd:complexType name="DeleteIdentifierRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="identifier" type="tns:IdentifierType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteIdentifierRequestMessage" type="tns:DeleteIdentifierRequestMessageType" />

    <xsd:complexType name="DeletePhoneNumberRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="phoneNumber" type="tns:PhoneNumberType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeletePhoneNumberRequestMessage" type="tns:DeletePhoneNumberRequestMessageType" />

    <xsd:complexType name="GetPatientRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetPatientRequestMessage" type="tns:GetPatientRequestMessageType" />

    <xsd:complexType name="DuplicatePatientRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patientId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DuplicatePatientRequestMessage" type="tns:DuplicatePatientRequestMessageType" />

    <xsd:complexType name="GetPersonNameRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="personNameId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetPersonNameRequestMessage" type="tns:GetPersonNameRequestMessageType" />

    <xsd:complexType name="GetAddressRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="addressId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetAddressRequestMessage" type="tns:GetAddressRequestMessageType" />

    <xsd:complexType name="GetIdentifierRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="identifierId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetIdentifierRequestMessage" type="tns:GetIdentifierRequestMessageType" />

    <xsd:complexType name="GetPhoneNumberRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="phoneNumberId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetPhoneNumberRequestMessage" type="tns:GetPhoneNumberRequestMessageType" />

    <xsd:complexType name="SavePatientRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="patient" type="tns:PatientType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SavePatientRequestMessage" type="tns:SavePatientRequestMessageType" />

    <xsd:complexType name="SavePersonNameRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="personName" type="tns:PersonNameType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SavePersonNameRequestMessage" type="tns:SavePersonNameRequestMessageType" />

    <xsd:complexType name="SaveAddressRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="address" type="tns:AddressType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SaveAddressRequestMessage" type="tns:SaveAddressRequestMessageType" />

    <xsd:complexType name="SaveIdentifierRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="identifier" type="tns:IdentifierType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SaveIdentifierRequestMessage" type="tns:SaveIdentifierRequestMessageType" />

    <xsd:complexType name="SavePhoneNumberRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="phoneNumber" type="tns:PhoneNumberType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SavePhoneNumberRequestMessage" type="tns:SavePhoneNumberRequestMessageType" />

    <xsd:complexType name="ListAllDocumentRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllDocumentRequestMessage" type="tns:ListAllDocumentRequestMessageType" />

    <xsd:complexType name="ListAllEventCodeRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="documentId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListAllEventCodeRequestMessage" type="tns:ListAllEventCodeRequestMessageType" />

    <xsd:complexType name="DuplicateDocumentRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="documentId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DuplicateDocumentRequestMessage" type="tns:DuplicateDocumentRequestMessageType" />

    <xsd:complexType name="DeleteEventCodeRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="eventCode" type="tns:EventCodeType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteEventCodeRequestMessage" type="tns:DeleteEventCodeRequestMessageType" />

    <xsd:complexType name="GetDocumentRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="documentId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetDocumentRequestMessage" type="tns:GetDocumentRequestMessageType" />

    <xsd:complexType name="GetEventCodeRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="eventCodeId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetEventCodeRequestMessage" type="tns:GetEventCodeRequestMessageType" />

    <xsd:complexType name="SaveDocumentRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="document" type="tns:DocumentMetadataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SaveDocumentRequestMessage" type="tns:SaveDocumentRequestMessageType" />

    <xsd:complexType name="SaveEventCodeRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="eventCode" type="tns:EventCodeType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SaveEventCodeRequestMessage" type="tns:SaveEventCodeRequestMessageType" />

    <xsd:complexType name="GetPatientByIdentifierRequestMessageType" >
        <xsd:sequence>
            <xsd:element name="configAssertion" type="nccommon:ConfigAssertionType"/>
            <xsd:element name="identifierId" type="xsd:string"/>
            <xsd:element name="identifierOrg" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetPatientByIdentifierRequestMessage" type="tns:GetPatientByIdentifierRequestMessageType" />

</xsd:schema>
