tests/fixtures/common/nhinc/common/NhincCommonEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"
    xmlns:hl7="urn:hl7-org:v3"
    xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
    xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
    xmlns:ihe="urn:ihe:iti:xds-b:2007"
    xmlns:x12="http://www.caqh.org/SOAP/WSDL/CORERule2.2.0.xsd"
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon"
    xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
    xmlns:edxlde="urn:oasis:names:tc:emergency:EDXL:DE:1.0"
    xmlns:xcpd="urn:ihe:iti:xcpd:2009"
    targetNamespace="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"
    elementFormDefault="qualified">

    <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="NhincCommon.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="../../ebRS/query.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../../ebRS/rs.xsd"/>
    <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="../../ihe/XDS.b_DocumentRepository.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="../../../schemas/ebRS/rim.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" schemaLocation="../../../schemas/ebRS/edxl-de.xsd"/>
    <xsd:import namespace="http://www.caqh.org/SOAP/WSDL/CORERule2.2.0.xsd" schemaLocation="../../../schemas/caqh/CORERule2.2.0.xsd"/>
    <xsd:import namespace="urn:ihe:iti:xcpd:2009" schemaLocation="../../HL7V3/NE2008/multicacheschemas/XCPD_PLQ.xsd"/>
    <!-- ====================================================================
    Document Query Schemas.
    ==================================================================== -->
    <xsd:complexType name="RespondingGateway_CrossGatewayQueryRequestType">
        <xsd:sequence>
            <xsd:element ref="query:AdhocQueryRequest"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayQueryRequest" type="tns:RespondingGateway_CrossGatewayQueryRequestType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseType">
        <xsd:sequence>
            <xsd:element ref="query:AdhocQueryResponse"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayQueryResponse" type="tns:RespondingGateway_CrossGatewayQueryResponseType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseSecuredType">
        <xsd:sequence>
            <xsd:element ref="query:AdhocQueryResponse"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayQueryResponseSecured" type="tns:RespondingGateway_CrossGatewayQueryResponseSecuredType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayQuerySecuredRequestType">
        <xsd:sequence>
            <xsd:element ref="query:AdhocQueryRequest"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayQuerySecuredRequest" type="tns:RespondingGateway_CrossGatewayQuerySecuredRequestType"/>
    <!-- ====================================================================
    Document Retrieve Schemas.
    ==================================================================== -->
    <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveRequestType">
        <xsd:sequence>
            <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRetrieveRequest" type="tns:RespondingGateway_CrossGatewayRetrieveRequestType"/>
    <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredRequestType">
        <xsd:sequence>
            <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredRequest" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredRequestType"/>
    <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveResponseType">
        <xsd:sequence>
            <xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRetrieveResponse" type="tns:RespondingGateway_CrossGatewayRetrieveResponseType"/>
    <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredResponseType">
        <xsd:sequence>
            <xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredResponse" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredResponseType"/>

    <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetRequestType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
            <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetRequestType"/>

    <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType">
        <xsd:sequence>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
            <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType"/>

    <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="RegistryResponse" type="rs:RegistryResponseType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType"/>

    <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType">
        <xsd:sequence>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="RegistryResponse" type="rs:RegistryResponseType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType"/>
    <xsd:complexType name="RespondingGateway_RegisterDocumentSetRequestType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="RegisterDocumentSetRequest" type="ihe:RegisterDocumentSetRequestType"/>
            <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_RegisterDocumentSetRequest" type="tns:RespondingGateway_RegisterDocumentSetRequestType"/>

    <xsd:complexType name="RespondingGateway_RegisterDocumentSetSecuredRequestType">
        <xsd:sequence>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element name="RegisterDocumentSetRequest" type="ihe:RegisterDocumentSetRequestType"/>
            <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_RegisterDocumentSetSecuredRequest" type="tns:RespondingGateway_RegisterDocumentSetSecuredRequestType"/>

    <xsd:complexType name="RespondingGateway_SendAlertMessageType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
            <xsd:element ref="edxlde:EDXLDistribution"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_SendAlertMessage" type="tns:RespondingGateway_SendAlertMessageType"/>

    <xsd:complexType name="RespondingGateway_SendAlertMessageSecuredType">
        <xsd:sequence>
            <xsd:element ref="edxlde:EDXLDistribution"/>
            <xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_SendAlertMessageSecured" type="tns:RespondingGateway_SendAlertMessageSecuredType"/>

    <!-- ====================================================================
    X12 Document Submission Realtime/Sync Schemas.
    ==================================================================== -->
    <xsd:complexType name="RespondingGateway_CrossGatewayRealTimeRequestType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeRealTimeRequest"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRealTimeRequest" type="tns:RespondingGateway_CrossGatewayRealTimeRequestType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayRealTimeSecuredRequestType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeRealTimeRequest"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRealTimeSecuredRequest" type="tns:RespondingGateway_CrossGatewayRealTimeSecuredRequestType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayRealTimeResponseType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeRealTimeResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayRealTimeResponse" type="tns:RespondingGateway_CrossGatewayRealTimeResponseType"/>

    <!-- ====================================================================
    X12 Document Submission Batch/Deferred/Async Schemas.
    ==================================================================== -->
    <xsd:complexType name="RespondingGateway_CrossGatewayBatchSubmissionRequestType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeBatchSubmission"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayBatchSubmissionRequest" type="tns:RespondingGateway_CrossGatewayBatchSubmissionRequestType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayBatchSubmissionSecuredRequestType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeBatchSubmission"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayBatchSubmissionRequestSecured" type="tns:RespondingGateway_CrossGatewayBatchSubmissionSecuredRequestType"/>

    <xsd:complexType name="RespondingGateway_CrossGatewayBatchSubmissionResponseMessageType">
        <xsd:sequence>
            <xsd:element ref="x12:COREEnvelopeBatchSubmissionResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_CrossGatewayBatchSubmissionResponseMessage" type="tns:RespondingGateway_CrossGatewayBatchSubmissionResponseMessageType"/>

    <!-- ==================================================================
    Patient Location Query Secured and Unsecured entity message
    ==================================================================== -->
    <xsd:complexType name="RespondingGateway_PatientLocationQueryRequestType">
        <xsd:sequence>
            <xsd:element ref="xcpd:PatientLocationQueryRequest"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_PatientLocationQueryRequest" type="tns:RespondingGateway_PatientLocationQueryRequestType"/>

    <xsd:complexType name="RespondingGateway_PatientLocationQueryResponseType">
        <xsd:sequence>
            <xsd:element ref="xcpd:PatientLocationQueryResponse"/>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_PatientLocationQueryResponse" type="tns:RespondingGateway_PatientLocationQueryResponseType"/>

    <xsd:complexType name="RespondingGateway_PatientLocationQuerySecuredRequestType">
        <xsd:sequence>
            <xsd:element ref="xcpd:PatientLocationQueryRequest"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_PatientLocationQuerySecuredRequest" type="tns:RespondingGateway_PatientLocationQuerySecuredRequestType"/>

    <xsd:complexType name="RespondingGateway_PatientLocationQueryResponseSecuredType">
        <xsd:sequence>
            <xsd:element ref="xcpd:PatientLocationQueryRequest"/>
            <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespondingGateway_PatientLocationQueryResponseSecured" type="tns:RespondingGateway_PatientLocationQueryResponseSecuredType"/>
</xsd:schema>
