tests/fixtures/defxmlschema/chapter15/example1513.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 15-13 Illegal duplication of attributes -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="IdentifierGroup">
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="version" type="xs:decimal" />
  </xs:attributeGroup>
  <xs:attributeGroup name="VersionGroup">
    <xs:attribute name="version" type="xs:decimal" />
  </xs:attributeGroup>
  <xs:complexType name="ProductType">
    <xs:attributeGroup ref="IdentifierGroup" />
    <xs:attributeGroup ref="VersionGroup" />
  </xs:complexType>
</xs:schema>
