tests/fixtures/defxmlschema/chapter15/example1504.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 15-4 Equivalent content model without a named model group reference -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PurchaseOrderType">
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element name="description" type="xs:string" />
        <xs:element name="comment" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
