tests/fixtures/defxmlschema/chapter15/example1506.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 15-6 Group with an all model group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="DescriptionGroup">
    <xs:all>
      <xs:element name="description" type="xs:string" />
      <xs:element name="comment" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:group>
  <xs:complexType name="DescriptionGroup">
    <xs:group ref="DescriptionGroup" />
  </xs:complexType>
</xs:schema>
