tests/fixtures/defxmlschema/chapter15/example1508.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 15-8 Attribute group with local attribute declarations -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="IdentifierGroup">
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="version" type="xs:decimal" />
  </xs:attributeGroup>
  <xs:complexType name="IdentifierGroup">
    <xs:attributeGroup ref="IdentifierGroup" />
  </xs:complexType>
</xs:schema>
