tests/fixtures/defxmlschema/chapter04/example04031.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 4-3 Import -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datypic.com/ord" xmlns:prod="http://datypic.com/prod" targetNamespace="http://datypic.com/ord">
  <xs:import namespace="http://datypic.com/prod" schemaLocation="example04032.xsd" />
  <xs:element name="order" type="OrderType" />
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="number" type="xs:string" />
      <xs:element name="items" type="prod:ItemsType" />
      <!-- ... -->
    </xs:sequence>
  </xs:complexType>
</xs:schema>
