tests/fixtures/defxmlschema/chapter04/example04021.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 4-2 Chameleon include -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="example04022.xsd" />
  <xs:element name="order" type="OrderType" />
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="number" type="xs:string" />
      <xs:element name="customer" type="CustomerType" />
      <!-- ... -->
    </xs:sequence>
  </xs:complexType>
</xs:schema>
