tests/fixtures/defxmlschema/chapter03prod2.xsd

<!--Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.org/prod2"
            xmlns="http://example.org/prod2">

  <xsd:element name="color" type="ColorType"/>

  <xsd:complexType name="ColorType">
    <xsd:attribute name="value" type="xsd:string" form="qualified"/>
  </xsd:complexType>

</xsd:schema>