tests/fixtures/defxmlschema/chapter08/example0822.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 8-22 Using an implementation-defined type -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ext="http://example.org/extensions">
  <xs:element name="anyOrdinalDate" type="ext:ordinalDate" />
  <xs:element name="recentOrdinalDate" type="OrdinalDateIn2011" />
  <xs:simpleType name="OrdinalDateIn2011">
    <xs:restriction base="ext:ordinalDate">
      <xs:minInclusive value="2011-001" />
      <xs:maxInclusive value="2011-365" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
