tests/fixtures/defxmlschema/chapter20/example2010.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 20-10 Product property group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="ProductProperties">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="desc" type="xs:string" />
    </xs:sequence>
  </xs:group>
</xs:schema>
