tests/fixtures/defxmlschema/chapter20/example2011.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 20-11 Shirt type that uses the product property group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShirtType">
    <xs:sequence>
      <xs:group ref="ProductProperties" />
      <xs:element name="fabric" type="xs:string" />
      <xs:element name="availableSizes" type="AvailableShirtSizesType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
