tests/fixtures/defxmlschema/chapter20/example2006.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 20-6 An abstract product type -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType" abstract="true">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="desc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
