tests/fixtures/dtd/complete_example.dtd

<!ELEMENT Blog (Post+)>
<!ELEMENT Post ((Origin|Source)*,Title,Body,Tags)>
<!ELEMENT Origin (#PCDATA)>
<!ELEMENT Source (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Body (#PCDATA)>
<!ELEMENT Tags (Tag*)>
<!ELEMENT Tag (#PCDATA)>
<!ATTLIST Post status (draft|published) 'draft'>
<!ATTLIST Post author CDATA #REQUIRED>
<!ATTLIST Post created_at CDATA #REQUIRED>
<!ATTLIST Post xml:lang NMTOKEN 'en'>