tests/fixtures/defxmlschema/chapter10/example1020.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 10-20 Illegal list of lists -->
<!-- SKIPTEST: Should fail -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="RowType">
    <xs:list itemType="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="TwoDimensionalArrayType">
    <xs:list itemType="RowType" />
  </xs:simpleType>
  <xs:element name="TwoDimensionalArray" type="TwoDimensionalArrayType" />
</xs:schema>
