xsdata/schemas/instance.xsd

<xs:schema targetNamespace="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.w3.org/1999/xhtml">

    <xs:attribute name="nil"/>
    <xs:attribute name="type"/>
    <xs:attribute name="schemaLocation"/>
    <xs:attribute name="noNamespaceSchemaLocation"/>
</xs:schema>
