tests/fixtures/defxmlschema/chapter21/example21131.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 21-13 Chameleon namespaces in a schema -->
<!-- SKIPTEST: Fails -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datypic.com/ord" targetNamespace="http://datypic.com/ord" elementFormDefault="qualified">
  <xs:include schemaLocation="example2113-2.xsd" />
  <xs:include schemaLocation="example2113-3.xsd" />
  <xs:element name="order" type="OrderType" />
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType" />
      <xs:element name="items" type="ItemsType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
