tests/fixtures/common/HL7V3/NE2008/multicacheschemas/COCT_MT010000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_MT010000UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT710000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
	<xs:include schemaLocation="COCT_MT020000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT470000UV.xsd"/>
	<xs:include schemaLocation="COCT_MT110000UV04.xsd"/>
	<xs:include schemaLocation="COCT_MT120104UV.xsd"/>
	<xs:include schemaLocation="COCT_MT060000UV01.xsd"/>
	<xs:complexType name="COCT_MT010000UV01.AccomodationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ACCM"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Admitter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ADM"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Attender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ATND"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Authorization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="consent" type="COCT_MT470000UV.Consent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="AUTH"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.CauseOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="CAUS"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Consultant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="CON"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Discharger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="DIS"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Encounter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="activityTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0"/>
			<xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0"/>
			<xs:element name="preAdmitTestInd" type="BL" minOccurs="0"/>
			<xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="COCT_MT010000UV01.Subject1"/>
			<xs:element name="responsibleParty" type="COCT_MT010000UV01.ResponsibleParty1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admitter" type="COCT_MT010000UV01.Admitter" nillable="true" minOccurs="0"/>
			<xs:element name="attender" type="COCT_MT010000UV01.Attender" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="discharger" type="COCT_MT010000UV01.Discharger" nillable="true" minOccurs="0"/>
			<xs:element name="referrer" type="COCT_MT010000UV01.Referrer" nillable="true" minOccurs="0"/>
			<xs:element name="consultant" type="COCT_MT010000UV01.Consultant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="notificationContact" type="COCT_MT010000UV01.NotificationContact" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="COCT_MT010000UV01.Location1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="COCT_MT010000UV01.InFulfillmentOf" nillable="true" minOccurs="0"/>
			<xs:element name="sequelTo" type="COCT_MT010000UV01.SequelTo" nillable="true" minOccurs="0"/>
			<xs:element name="causeOf" type="COCT_MT010000UV01.CauseOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="COCT_MT010000UV01.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="COCT_MT010000UV01.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation1" type="COCT_MT010000UV01.PertinentInformation2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="COCT_MT010000UV01.PertinentInformation3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transportedBy" type="COCT_MT010000UV01.TransportedBy" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="COCT_MT010000UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="appointment" type="COCT_MT020000UV01.Appointment" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Location1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="serviceDeliveryLocation" type="COCT_MT010000UV01.ServiceDeliveryLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Location3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="accomodationEvent" type="COCT_MT010000UV01.AccomodationEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.NotificationContact">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="NOT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.ObservationEvent02">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="value" type="ED_explicit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.PertinentInformation2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorityNumber" type="INT" minOccurs="0"/>
			<xs:element name="observationDx" type="COCT_MT120104UV.ObservationDx" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.PertinentInformation3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationEvent" type="COCT_MT010000UV01.ObservationEvent02" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110000UV04.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Referrer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="REF"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.ResponsibleParty1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="assignedOrganization" type="COCT_MT090200UV01.AssignedOrganization" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RESP"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.SequelTo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.ServiceDeliveryLocation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="location" type="COCT_MT710000UV01.Place" nillable="true" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0"/>
			<xs:element name="locationOf" type="COCT_MT010000UV01.Location3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.Subject1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COCT_MT050000UV01.Patient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT010000UV01.TransportedBy">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="transportation" type="COCT_MT060000UV01.Transportation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipPatientTransport" use="required"/>
	</xs:complexType>
</xs:schema>
