tests/fixtures/common/HL7V3/NE2008/multicacheschemas/REPC_MT004000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type REPC_MT004000UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="REPC_MT000700UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090400UV.xsd"/>
	<xs:include schemaLocation="COCT_MT910000UV.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:include schemaLocation="REPC_MT000301UV.xsd"/>
	<xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
	<xs:include schemaLocation="REPC_MT000200UV.xsd"/>
	<xs:include schemaLocation="REPC_MT000400UV01.xsd"/>
	<xs:include schemaLocation="REPC_MT000100UV01.xsd"/>
	<xs:complexType name="REPC_MT004000UV01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ST" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit"/>
			<xs:element name="modeCode" type="CE"/>
			<xs:element name="signatureCode" type="CE"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedParty1" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.CareProvisionEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="REPC_MT004000UV01.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT004000UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT004000UV01.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT004000UV01.Author" nillable="true" minOccurs="0"/>
			<xs:element name="dataEnterer" type="REPC_MT004000UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="primaryInformationRecipient" type="REPC_MT004000UV01.PrimaryInformationRecipient" nillable="true" minOccurs="0"/>
			<xs:element name="verifier" type="REPC_MT004000UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT004000UV01.InFulfillmentOf2" nillable="true" minOccurs="0" maxOccurs="2"/>
			<xs:element name="replacementOf" type="REPC_MT004000UV01.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT004000UV01.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="REPC_MT004000UV01.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation1" type="REPC_MT004000UV01.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="REPC_MT004000UV01.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation3" type="REPC_MT004000UV01.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT004000UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.CareProvisionRequestOrPromise">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
		<xs:attribute name="moodCode" type="x_ActMoodOrdPrms" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carePlan" type="REPC_MT000200UV.CarePlan" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.InFulfillmentOf2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="careProvisionRequestOrPromise" type="REPC_MT004000UV01.CareProvisionRequestOrPromise" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedParty1" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carePlan" type="REPC_MT000200UV.CarePlan" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.PertinentInformation4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="actCategory" type="REPC_MT000400UV01.ActCategory" nillable="true"/>
				<xs:element name="actList" type="REPC_MT000400UV01.ActList" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.PertinentInformation5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference" nillable="true"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="assignedParty1" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="PRCP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Reason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conditionEvent" type="REPC_MT000301UV.ConditionEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="maintainedEntity" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="REFR"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="careProvisionEvent" type="REPC_MT004000UV01.CareProvisionEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="RPLC"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Subject3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="maintainedEntity" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT004000UV01.Verifier">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
</xs:schema>
