tests/fixtures/common/HL7V3/NE2008/multicacheschemas/REPC_MT000100UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Kim Solutions (Solutions IT) -->
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000100UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT230100UV.xsd"/>
	<xs:include schemaLocation="COCT_MT220200UV.xsd"/>
	<xs:include schemaLocation="COCT_MT220300UV.xsd"/>
	<xs:include schemaLocation="COCT_MT230100UV.xsd"/>
	<xs:include schemaLocation="COCT_MT910000UV.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT080000UV.xsd"/>
	<xs:include schemaLocation="REPC_MT000700UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
	<xs:complexType name="REPC_MT000100UV01.Act">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="custodian" type="REPC_MT000100UV01.Custodian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.ActDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.ActReference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.AdministerableMaterial">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="administerableMaterial" type="REPC_MT000100UV01.Material"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClass" use="required" fixed="ADMM"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Author3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity1" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference" nillable="true"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Conditions">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:element name="criterion" type="REPC_MT000100UV01.Criterion" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Consumable">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="administerableMaterial" type="REPC_MT000100UV01.AdministerableMaterial"/>
				<xs:element name="medication" type="COCT_MT230100UV.Medication"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="CSM"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Criterion">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="value" type="ANY"/>
			<xs:element name="interpretationCode" type="CE"/>
			<xs:element name="precondition" type="REPC_MT000100UV01.Precondition2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN.CRT"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText_explicit" type="ED" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Definition2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="actDefinition" type="REPC_MT000100UV01.ActDefinition" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="INST"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Encounter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0"/>
			<xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0"/>
			<xs:element name="preAdmitTestInd" type="BL" minOccurs="0"/>
			<xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.HealthCareFacility">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="location" type="REPC_MT000100UV01.Place" nillable="true" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="REPC_MT000100UV01.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Informant12">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity1" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthCareFacility" type="REPC_MT000100UV01.HealthCareFacility" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Material">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE_explicit" minOccurs="0"/>
			<xs:element name="desc" type="ST_explicit" minOccurs="0"/>
			<xs:element name="materialPart" type="REPC_MT000100UV01.MaterialPart" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Material2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="0"/>
			<xs:element name="desc" type="ST_explicit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.MaterialPart">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="partMaterial" type="REPC_MT000100UV01.Material2"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Observation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="derivationExpr" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referenceRange" type="REPC_MT000100UV01.ReferenceRange2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.ObservationRange">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="value" type="ANY"/>
			<xs:element name="interpretationCode" type="CE"/>
			<xs:element name="precondition" type="REPC_MT000100UV01.Precondition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN.CRT"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Organizer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000100UV01.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassContainer" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Performer3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity1" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Precondition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:element name="criterion" type="REPC_MT000100UV01.Criterion" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="PRCN"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Precondition2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:element name="criterion" type="REPC_MT000100UV01.Criterion" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="PRCN"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Procedure">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="interruptibleInd" type="BL" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Product">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="name" type="EN_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="playingMaterial" type="REPC_MT000100UV01.Material" nillable="true" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="REPC_MT000100UV01.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassPassive" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Product2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="product1" type="REPC_MT000100UV01.Product"/>
				<xs:choice>
					<xs:element name="content" type="COCT_MT220300UV.Content"/>
					<xs:element name="medication" type="COCT_MT230100UV.Medication"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="PRD"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="maintainedEntity" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.ReferenceRange2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:element name="observationRange" type="REPC_MT000100UV01.ObservationRange" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="REFV"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RESP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.SourceOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="pauseQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
				<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
				<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
				<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
				<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
				<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
				<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.SourceOf3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="pauseQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
				<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
				<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
				<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
				<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
				<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
				<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Subject4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="awarenessCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
				<xs:element name="specimen" type="COCT_MT080000UV.Specimen" nillable="true"/>
				<xs:element name="maintainedEntity" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.SubstanceAdministration">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<!--<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="routeCode" type="CE" minOccurs="0"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="doseCheckQuantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="administrationUnitCode" type="CE" minOccurs="0"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consumable" type="REPC_MT000100UV01.Consumable"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Supply">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="independentInd" type="BL" minOccurs="0"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="subject" type="REPC_MT000100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<!--<xs:element name="product" type="REPC_MT000100UV01.Product2" maxOccurs="unbounded"/>-->
			<xs:element name="product" type="REPC_MT000100UV01.Product2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="REPC_MT000100UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000100UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000100UV01.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000100UV01.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000100UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000100UV01.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000100UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000100UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000100UV01.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="conditions" type="REPC_MT000100UV01.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sourceOf" type="REPC_MT000100UV01.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="REPC_MT000100UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassSupply" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000100UV01.Verifier">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CS" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
</xs:schema>
