tests/fixtures/common/HL7V3/NE2008/multicacheschemas/REPC_MT000300UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000300UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="REPC_MT000700UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT910000UV.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090102UV02.xsd"/>
	<xs:include schemaLocation="REPC_MT000100UV01.xsd"/>
	<xs:complexType name="REPC_MT000300UV01.Annotation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="text" type="ST"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0"/>
			<xs:element name="author" type="REPC_MT000300UV01.Author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" fixed="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:choice>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
				<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="REPC_MT000300UV01.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Concern">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CV" minOccurs="0"/>
			<xs:element name="subject1" type="REPC_MT000300UV01.Subject2" nillable="true" minOccurs="0"/>
			<xs:element name="recordTarget" type="REPC_MT000300UV01.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000300UV01.ResponsibleParty2" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000300UV01.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000300UV01.Author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000300UV01.DataEnterer" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="REPC_MT000300UV01.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000300UV01.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="REPC_MT000300UV01.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="links" type="REPC_MT000300UV01.Links" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="replacementOf" type="REPC_MT000300UV01.ReplacementOf" nillable="true" minOccurs="0"/>
			<xs:element name="sequelTo" type="REPC_MT000300UV01.SequelTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject2" type="REPC_MT000300UV01.Subject4" maxOccurs="unbounded"/>
			<xs:element name="reference" type="REPC_MT000300UV01.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000300UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonOf" type="REPC_MT000300UV01.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000300UV01.Subject5" nillable="true" minOccurs="0"/>
			<xs:element name="subjectOf2" type="REPC_MT000300UV01.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.ControlActEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="TS_explicit"/>
			<xs:element name="reasonCode" type="CV" minOccurs="0"/>
			<xs:element name="responsibleParty" type="REPC_MT000300UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="author" type="REPC_MT000300UV01.Author" nillable="true" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassControlAct" use="optional" fixed="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CV" minOccurs="0"/>
			<xs:element name="signatureCode" type="CV" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.HealthCareFacility">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="location" type="REPC_MT000300UV01.Place" nillable="true" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="REPC_MT000300UV01.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Informant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
				<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Links">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="REPC_MT000300UV01.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="ELNK"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthCareFacility" type="REPC_MT000300UV01.HealthCareFacility" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
				<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Reason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference" nillable="true"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:element name="maintainedEntity" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference" nillable="true"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="REFR"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="REPC_MT000300UV01.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RESP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.ResponsibleParty2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RESP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.SequelTo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="REPC_MT000300UV01.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Subject2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="awarenessCode" type="CE" minOccurs="0"/>
			<xs:choice>
				<xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true"/>
				<xs:element name="maintainedEntity1" type="REPC_MT000700UV01.MaintainedEntity" nillable="true"/>
				<xs:choice>
					<xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true"/>
					<xs:element name="student" type="COCT_MT910000UV.Student" nillable="true"/>
					<xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship" nillable="true"/>
					<xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true"/>
					<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" fixed="SBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Subject3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="annotation" type="REPC_MT000300UV01.Annotation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="SUBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Subject4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorityNumber" type="INT" minOccurs="0"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Subject5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="controlActEvent" type="REPC_MT000300UV01.ControlActEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000300UV01.Verifier">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
</xs:schema>
