tests/fixtures/common/HL7V3/NE2008/multicacheschemas/REPC_MT000200UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000200UV.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="COCT_MT090400UV.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:include schemaLocation="REPC_MT000300UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT230100UV.xsd"/>
	<xs:include schemaLocation="REPC_MT000100UV01.xsd"/>
	<xs:complexType name="REPC_MT000200UV.ActDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ActIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT000200UV.InFulfillmentOf2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000200UV.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fulfillment" type="REPC_MT000200UV.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="REPC_MT000200UV.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.AdministerableMaterial">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="administerableMaterialKind" type="REPC_MT000200UV.MaterialKind"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClass" use="required" fixed="ADMM"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Annotation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="text" type="ST"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="author" type="REPC_MT000200UV.Author6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit"/>
			<xs:element name="modeCode" type="CE"/>
			<xs:element name="signatureCode" type="CE"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Author6">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit"/>
			<xs:element name="modeCode" type="CE"/>
			<xs:element name="signatureCode" type="CE"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedParty" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.CarePlan">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="REPC_MT000200UV.Author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="REPC_MT000200UV.DataEnterer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="REPC_MT000200UV.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="REPC_MT000200UV.Participant" nillable="true" minOccurs="0"/>
			<xs:element name="finalGoal" type="REPC_MT000200UV.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="REPC_MT000200UV.Definition1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component1" type="REPC_MT000200UV.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component2" type="REPC_MT000200UV.Component10" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component3" type="REPC_MT000200UV.Component7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patientInstructions" type="REPC_MT000200UV.PatientInstructions" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actIntent" type="REPC_MT000200UV.ActIntent" nillable="true"/>
				<xs:element name="encounterIntent" type="REPC_MT000200UV.EncounterIntent" nillable="true"/>
				<xs:element name="observationIntent" type="REPC_MT000200UV.ObservationIntent" nillable="true"/>
				<xs:element name="procedureIntent" type="REPC_MT000200UV.ProcedureIntent" nillable="true"/>
				<xs:element name="substanceAdministrationIntent" type="REPC_MT000200UV.SubstanceAdministrationIntent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component13">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actDefinition" type="REPC_MT000200UV.ActDefinition" nillable="true"/>
				<xs:element name="encounterDefinition" type="REPC_MT000200UV.EncounterDefinition" nillable="true"/>
				<xs:element name="observationDefinition" type="REPC_MT000200UV.ObservationDefinition" nillable="true"/>
				<xs:element name="procedureDefinition" type="REPC_MT000200UV.ProcedureDefinition" nillable="true"/>
				<xs:element name="substanceAdministrationDefinition" type="REPC_MT000200UV.SubstanceAdministrationDefinition" nillable="true"/>
				<xs:element name="supplyEvent" type="REPC_MT000200UV.SupplyEvent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="guideline" type="REPC_MT000200UV.Guideline" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actIntent" type="REPC_MT000200UV.ActIntent" nillable="true"/>
				<xs:element name="encounterIntent" type="REPC_MT000200UV.EncounterIntent" nillable="true"/>
				<xs:element name="observationIntent" type="REPC_MT000200UV.ObservationIntent" nillable="true"/>
				<xs:element name="procedureIntent" type="REPC_MT000200UV.ProcedureIntent" nillable="true"/>
				<xs:element name="substanceAdministrationIntent" type="REPC_MT000200UV.SubstanceAdministrationIntent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:choice>
				<xs:element name="actIntent" type="REPC_MT000200UV.ActIntent" nillable="true"/>
				<xs:element name="encounterIntent" type="REPC_MT000200UV.EncounterIntent" nillable="true"/>
				<xs:element name="observationIntent" type="REPC_MT000200UV.ObservationIntent" nillable="true"/>
				<xs:element name="procedureIntent" type="REPC_MT000200UV.ProcedureIntent" nillable="true"/>
				<xs:element name="substanceAdministrationIntent" type="REPC_MT000200UV.SubstanceAdministrationIntent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="carePlan" type="REPC_MT000200UV.CarePlan" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Conditions">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="criterion" type="REPC_MT000200UV.Criterion" nillable="true"/>
				<xs:element name="criterionGroup" type="REPC_MT000200UV.CriterionGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Consumable">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="administerableMaterial" type="REPC_MT000200UV.AdministerableMaterial"/>
				<xs:element name="medication" type="COCT_MT230100UV.Medication"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="CSM"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Criterion">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="value" type="ANY"/>
			<xs:element name="interpretationCode" type="CE"/>
			<xs:element name="precondition" type="REPC_MT000200UV.Precondition2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN.CRT"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.CriterionGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Definition1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="guideline" type="REPC_MT000200UV.Guideline" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="INST"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.EncounterDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.EncounterIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT000200UV.InFulfillmentOf2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000200UV.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fulfillment" type="REPC_MT000200UV.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="REPC_MT000200UV.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.FinalGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationGoal" type="REPC_MT000200UV.ObservationGoal" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="OBJF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Goal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationGoal" type="REPC_MT000200UV.ObservationGoal" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="GOAL"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Guideline">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="author" type="REPC_MT000200UV.Author6" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="REPC_MT000200UV.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component1" type="REPC_MT000200UV.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component2" type="REPC_MT000200UV.Component13" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component3" type="REPC_MT000200UV.Component2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="actReference1" type="REPC_MT000100UV01.ActReference" nillable="true"/>
				<xs:choice>
					<xs:element name="act" type="REPC_MT000100UV01.Act" nillable="true"/>
					<xs:element name="encounter" type="REPC_MT000100UV01.Encounter" nillable="true"/>
					<xs:element name="observation" type="REPC_MT000100UV01.Observation" nillable="true"/>
					<xs:element name="organizer" type="REPC_MT000100UV01.Organizer" nillable="true"/>
					<xs:element name="procedure" type="REPC_MT000100UV01.Procedure" nillable="true"/>
					<xs:element name="substanceAdministration" type="REPC_MT000100UV01.SubstanceAdministration" nillable="true"/>
					<xs:element name="supply" type="REPC_MT000100UV01.Supply" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.InFulfillmentOf2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="actDefinition" type="REPC_MT000200UV.ActDefinition" nillable="true"/>
				<xs:element name="encounterDefinition" type="REPC_MT000200UV.EncounterDefinition" nillable="true"/>
				<xs:element name="observationDefinition" type="REPC_MT000200UV.ObservationDefinition" nillable="true"/>
				<xs:element name="procedureDefinition" type="REPC_MT000200UV.ProcedureDefinition" nillable="true"/>
				<xs:element name="substanceAdministrationDefinition" type="REPC_MT000200UV.SubstanceAdministrationDefinition" nillable="true"/>
				<xs:element name="supplyEvent" type="REPC_MT000200UV.SupplyEvent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.MaterialKind">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="desc" type="ST" minOccurs="0"/>
			<xs:element name="materialPart" type="REPC_MT000200UV.MaterialPart" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.MaterialKind2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="desc" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.MaterialPart">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="partMaterialKind" type="REPC_MT000200UV.MaterialKind2"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ObservationDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="derivationExpr" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ObservationGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit"/>
			<xs:element name="value" type="ANY"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="GOL"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ObservationIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="derivationExpr" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT000200UV.InFulfillmentOf2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000200UV.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fulfillment" type="REPC_MT000200UV.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="REPC_MT000200UV.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Participant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedParty" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationParticipation" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.PatientInstructions">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedParty" type="COCT_MT090400UV.AssignedParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Performer2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.PlannedReview">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="REV"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Precondition2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:element name="criterion" type="REPC_MT000200UV.Criterion" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="PRCN"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ProcedureDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.ProcedureIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT000200UV.InFulfillmentOf2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000200UV.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fulfillment" type="REPC_MT000200UV.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="REPC_MT000200UV.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Reason2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="REPC_MT000300UV01.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="plannedReview" type="REPC_MT000200UV.PlannedReview" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="SUBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Subject2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="annotation" type="REPC_MT000200UV.Annotation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="SUBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.SubstanceAdministrationDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="routeCode" type="CE" minOccurs="0"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="administrationUnitCode" type="CE" minOccurs="0"/>
			<xs:element name="consumable" type="REPC_MT000200UV.Consumable"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="DEF"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.SubstanceAdministrationIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS_explicit" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="routeCode" type="CE" minOccurs="0"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="administrationUnitCode" type="CE" minOccurs="0"/>
			<xs:element name="consumable" type="REPC_MT000200UV.Consumable"/>
			<xs:element name="performer" type="REPC_MT000200UV.Performer2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="REPC_MT000200UV.InFulfillmentOf2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="REPC_MT000200UV.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fulfillment" type="REPC_MT000200UV.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="REPC_MT000200UV.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.SupplyEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="derivationExpr" type="ST" minOccurs="0"/>
			<xs:element name="goal" type="REPC_MT000200UV.Goal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="REPC_MT000200UV.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conditions" type="REPC_MT000200UV.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf1" type="REPC_MT000200UV.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="REPC_MT000200UV.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassSupply" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000200UV.Verifier">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="time" type="TS_explicit" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED_explicit" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
</xs:schema>
