tests/xsd/travelport/rail_v48_0/RailAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="RailService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.travelport.com/service/rail_v48_0"
             xmlns:ns1="http://www.travelport.com/schema/rail_v48_0"
             xmlns:common="http://www.travelport.com/schema/common_v48_0"
             targetNamespace="http://www.travelport.com/service/rail_v48_0">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                targetNamespace="http://www.travelport.com/schema/rail_v48_0">
            <include schemaLocation="RailReqRsp.xsd"/>
        </schema>
    </types>

    <message name="RailAvailabilitySearchRequest">
        <part name="parameters" element="ns1:RailAvailabilitySearchReq" />
    </message>

    <message name="RailAvailabilitySearchResponse">
        <part name="result" element="ns1:RailAvailabilitySearchRsp" />
    </message>
    
    <message name="RailRefundQuoteRequest">
        <part name="parameters" element="ns1:RailRefundQuoteReq" />
    </message>

    <message name="RailRefundQuoteResponse">
        <part name="result" element="ns1:RailRefundQuoteRsp" />
    </message>
    
    <message name="RailRefundRequest">
        <part name="parameters" element="ns1:RailRefundReq" />
    </message>

    <message name="RailRefundResponse">
        <part name="result" element="ns1:RailRefundRsp" />
    </message>

    <message name="RailExchangeQuoteRequest">
        <part name="parameters" element="ns1:RailExchangeQuoteReq" />
    </message>

    <message name="RailExchangeQuoteResponse">
        <part name="result" element="ns1:RailExchangeQuoteRsp" />
    </message>
    
    <message name="RailExchangeCreateReservationRequest">
        <part name="parameters" element="ns1:RailExchangeReq" />
    </message>

    <message name="RailExchangeCreateReservationResponse">
        <part name="result" element="ns1:RailExchangeRsp" />
    </message>
    
    <message name="RailSeatMapRequest">
        <part name="parameters" element="ns1:RailSeatMapReq" />
    </message>

     <message name="RailSeatMapResponse">
        <part name="result" element="ns1:RailSeatMapRsp" />
    </message>
    
    <message name="RailFaultMessage">
        <part name="fault" element="common:ErrorInfo" />
    </message>

    <!-- Port Types -->
    <portType name="RailAvailabilitySearchPortType">
        <operation name="service">
            <input message="tns:RailAvailabilitySearchRequest" />
            <output message="tns:RailAvailabilitySearchResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
    <portType name="RailRefundQuotePortType">
        <operation name="service">
            <input message="tns:RailRefundQuoteRequest" />
            <output message="tns:RailRefundQuoteResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
    <portType name="RailRefundPortType">
        <operation name="service">
            <input message="tns:RailRefundRequest" />
            <output message="tns:RailRefundResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
    <portType name="RailExchangeQuotePortType">
        <operation name="service">
            <input message="tns:RailExchangeQuoteRequest" />
            <output message="tns:RailExchangeQuoteResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
    <portType name="RailExchangeCreateReservationPortType">
        <operation name="service">
            <input message="tns:RailExchangeCreateReservationRequest" />
            <output message="tns:RailExchangeCreateReservationResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
    <portType name="RailSeatMapPortType">
        <operation name="service">
            <input message="tns:RailSeatMapRequest" />
            <output message="tns:RailSeatMapResponse" />
            <fault name="ErrorInfoMsg" message="tns:RailFaultMessage" />
        </operation>
    </portType>
</definitions>
