tests/xsd/travelport/rail_v48_0/Rail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/rail_v48_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.travelport.com/schema/common_v48_0" targetNamespace="http://www.travelport.com/schema/rail_v48_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.travelport.com/schema/common_v48_0" schemaLocation="../common_v48_0/Common.xsd"/>
	<xs:element name="RailReservation">
		<xs:annotation>
			<xs:documentation>The parent container for all Rail booking data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseReservation">
					<xs:sequence>
						<xs:element ref="common:BookingTravelerRef" maxOccurs="9"/>
						<xs:element ref="RailJourney" maxOccurs="999"/>
						<xs:element ref="RailPricingInfo" minOccurs="0" maxOccurs="999"/>
						<xs:element ref="common:Payment" minOccurs="0" maxOccurs="999"/>
						<xs:element ref="RailTicketInfo" minOccurs="0" maxOccurs="999"/>
						<xs:element ref="RailFareNoteList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>List of RailFareNote(s) that is referenced by key in RailFare.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="common:SupplierLocator" minOccurs="0" maxOccurs="999"/>
					</xs:sequence>
					<xs:attribute name="BookingStatus" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>The Current Status of the rail booking.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailJourney">
		<xs:annotation>
			<xs:documentation>Captures all journey-related data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:annotation>
						<xs:documentation>Use references on rail availability response, and the full segment on the reservation.</xs:documentation>
					</xs:annotation>
					<xs:element ref="RailSegment" maxOccurs="999"/>
					<xs:element ref="RailSegmentRef" maxOccurs="999"/>
				</xs:choice>
				<xs:element ref="JourneyRemark" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="common:HostToken" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
			<xs:attributeGroup ref="attrRailSegmentOrigDestInfo"/>
			<xs:attribute name="RouteDescription" use="optional">
				<xs:annotation>
					<xs:documentation>The description of the route.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="JourneyDirection" type="typeJourneyDirection" use="optional">
				<xs:annotation>
					<xs:documentation>The direction of the Journey (Outward or Return).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="JourneyDuration" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>The duration of the entire Journey in minutes</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="common:attrPrices"/>
			<xs:attributeGroup ref="common:attrProviderSupplier"/>
			<xs:attribute name="Status" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Status of this Journey.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ProviderReservationInfoRef" type="common:typeRef" use="optional">
				<xs:annotation>
					<xs:documentation>Provider reservation reference key.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PassiveProviderReservationInfoRef" type="common:typeRef" use="optional">
				<xs:annotation>
					<xs:documentation>Passive provider reservation reference key.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TravelOrder" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>To identify the appropriate travel sequence for Air/Car/Hotel/Rail segments/reservations/Journeys based on travel dates. This ordering is applicable across the UR not provider or traveler specific</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RouteReference" use="optional">
				<xs:annotation>
					<xs:documentation>RouteReference is required in seat assignment purpose </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="common:attrElementKeyResults"/>
			<xs:attribute name="Operation" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>"Type of exchange. Add - Add new Journey. Update - Modify existing Journey. Delete - Remove existing Journey"</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailTicketInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailJourneyRef" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="TicketAdvisory" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
			<xs:attribute name="Number" use="required">
				<xs:annotation>
					<xs:documentation>Ticket number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IssueLocation" use="optional">
				<xs:annotation>
					<xs:documentation>Issue location is internal distributor code associated with the PCC.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TicketStatus" type="common:StringLength1to255" use="optional">
				<xs:annotation>
					<xs:documentation>Status of Ticket.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TicketFormType" use="optional">
				<xs:annotation>
					<xs:documentation>FormType of Ticket.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TrafficType" type="common:StringLength1to255" use="optional">
				<xs:annotation>
					<xs:documentation>Type of traffic.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IssuedDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>Ticket issue date.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TicketType" type="common:StringLength1to255" use="optional">
				<xs:annotation>
					<xs:documentation>Type of ticket. Paper, eTicket etc.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BookingTravelerRef" type="common:typeRef" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a BookingTraveler.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchRailLeg">
		<xs:annotation>
			<xs:documentation>Holds Origin, Destination, and Departure times for a Rail Leg to search for.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchOrigin" type="common:typeSearchLocation" maxOccurs="999"/>
				<xs:element name="SearchDestination" type="common:typeSearchLocation" maxOccurs="999"/>
				<xs:element ref="RailSegmentList" minOccurs="0"/>
				<xs:choice>
					<xs:annotation>
						<xs:documentation>Availability can be searched either on departure time or on arrival tome, but not on both.</xs:documentation>
					</xs:annotation>
					<xs:element name="SearchDepTime" type="common:typeFlexibleTimeSpec" maxOccurs="999"/>
					<xs:element name="SearchArvTime" type="common:typeTimeSpec" maxOccurs="999"/>
				</xs:choice>
				<xs:element ref="RailLegModifiers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailLegModifiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PermittedConnectionPoints" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="common:ConnectionPoint" maxOccurs="999"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProhibitedConnectionPoints" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="common:ConnectionPoint" maxOccurs="999"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSegmentList">
		<xs:annotation>
			<xs:documentation>List of Rail Segments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailSegment" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSegment">
		<xs:annotation>
			<xs:documentation>Rail Segment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Segment">
					<xs:sequence>
						<xs:element ref="RailSegmentInfo" minOccurs="0" maxOccurs="999"/>
						<xs:element ref="OperatingCompany" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="RailAvailInfo" minOccurs="0" maxOccurs="999"/>
						<xs:element ref="FulFillmentType" minOccurs="0" maxOccurs="999"/>
					</xs:sequence>
					<xs:attribute name="TrainNumber" type="typeTrainNumber" use="optional"/>
					<xs:attributeGroup ref="attrRailSegmentOrigDestInfo"/>
					<xs:attribute name="TrainType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Type of train used. Same as TrainServiceType.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TrainTypeCode" type="typeTrainType" use="optional">
						<xs:annotation>
							<xs:documentation>Code for type of train used. Same as TrainServiceType. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TransportMode" type="typeTransportMode" use="optional">
						<xs:annotation>
							<xs:documentation>Type of Transport Mode used.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SeatAssignable" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation>Set to true if there exists seats to be booked</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TransportCode" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Supplier specific train code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ReservationRequired" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation>Set to true if a reservation is required for booking.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TravelTime" type="xs:integer" use="optional">
						<xs:annotation>
							<xs:documentation>Total time spent (minutes) traveling</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="HostTokenRef" type="common:typeRef" use="optional">
						<xs:annotation>
							<xs:documentation>The reference key for the host token. From the HostTokenList Providers RCH.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CabinClass" type="common:typeRailCabin" use="optional">
						<xs:annotation>
							<xs:documentation>Rail Cabin class specification. The valid values are Economy, Business, First and Other</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ClassCode" type="common:typeRailClass" use="optional">
						<xs:annotation>
							<xs:documentation>A booking code or fare basis code or fare class.  </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSegmentInfo">
		<xs:annotation>
			<xs:documentation>A textual remark container to hold any printable text. (max 512 chars)</xs:documentation>
			<xs:documentation>Holds the ExtraSegmentInfo and VendorMessages from RCH response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Category" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Supplier specific category.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type" type="typeRailSegmentInfo" use="required">
						<xs:annotation>
							<xs:documentation>Either Extra for ExtraSegmentInfo or Vendor for VendorMessages.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OperatingCompany">
		<xs:annotation>
			<xs:documentation>A textual remark identifying the OperatingCompany/Train Service other than BN orTL</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Code" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Company Short Text</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Name Identifying the Train Service other than BN orTL</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="typeRailPricingSolution" abstract="true">
		<xs:annotation>
			<xs:documentation>Common RailPricingSolution container</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Use references on rail availability response.
                    </xs:documentation>
				</xs:annotation>
				<xs:element ref="RailJourney" maxOccurs="999"/>
				<xs:element ref="RailJourneyRef" maxOccurs="999"/>
			</xs:choice>
			<xs:element ref="RailPricingInfo" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
		<xs:attribute name="Key" type="common:typeRef" use="required"/>
		<xs:attribute name="OfferId" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>OfferID must be included if the RailCreateReq contains a price.  If the RailCreateReq is used for the Direct Book function, the OfferID is not included.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="common:attrPrices"/>
		<xs:attribute name="ProviderCode" type="common:typeProviderCode" use="required"/>
		<xs:attribute name="SupplierCode" type="common:typeSupplierCode" use="required"/>
		<xs:attribute name="HostTokenRef" type="common:typeRef" use="optional">
			<xs:annotation>
				<xs:documentation>HostTokenRef will reference the value in HostTokenList/HostToken @ Key</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Reference" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Offer Reference required for Booking(eg.TL).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="RailPricingSolution">
		<xs:annotation>
			<xs:documentation>Contains the fares and segments for a particular offer. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeRailPricingSolution"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailExchangeSolution">
		<xs:annotation>
			<xs:documentation>Contains the fares and segments for a particular offer.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeRailPricingSolution">
					<xs:sequence>
						<xs:element ref="RailExchangeInfo" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailPricingInfo">
		<xs:annotation>
			<xs:documentation>Per traveler type pricing breakdown.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:annotation>
						<xs:documentation>Use references on rail availability response, and the full fare on the reservation.</xs:documentation>
					</xs:annotation>
					<xs:element ref="RailFare" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="RailFareRef" minOccurs="0" maxOccurs="999"/>
				</xs:choice>
				<xs:element ref="RailBookingInfo" minOccurs="0" maxOccurs="999"/>
				<xs:element name="PassengerType" type="common:typePassengerType" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="common:BookingTravelerRef" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
			<xs:attribute name="ExchangeAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>The amount to pay to cover the exchange of the fare (includes penalties).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ApproximateExchangeAmount" type="common:typeMoney" use="optional"/>
			<xs:attributeGroup ref="common:attrPrices"/>
			<xs:attributeGroup ref="common:attrElementKeyResults"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailBookingInfo">
		<xs:annotation>
			<xs:documentation>Links journeys and fares together</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="RailFareRef" type="common:typeRef" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a fare that applies to the journey below.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RailJourneyRef" type="common:typeRef" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a journeys on which the above fare applies.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OptionalService" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation> Indicate the OfferFareItem elements  will be Optional or not.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="JourneyRemark">
		<xs:annotation>
			<xs:documentation>A Remark for a Journey.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Category" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="typeTrainType">
		<xs:annotation>
			<xs:documentation>Code for type of train used. Same as TrainServiceType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeTransportMode">
		<xs:annotation>
			<xs:documentation>Enumeration of all Train Transport Modes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bicycle"/>
			<xs:enumeration value="Boat"/>
			<xs:enumeration value="Bus"/>
			<xs:enumeration value="Cable Car"/>
			<xs:enumeration value="Car"/>
			<xs:enumeration value="Carriage"/>
			<xs:enumeration value="Courtesy car"/>
			<xs:enumeration value="Helicopter"/>
			<xs:enumeration value="Limousine"/>
			<xs:enumeration value="Metro"/>
			<xs:enumeration value="Monorail"/>
			<xs:enumeration value="Motorbike"/>
			<xs:enumeration value="Pack Animal"/>
			<xs:enumeration value="Plane"/>
			<xs:enumeration value="Rental Car"/>
			<xs:enumeration value="Rickshaw"/>
			<xs:enumeration value="Shuttle"/>
			<xs:enumeration value="Subway"/>
			<xs:enumeration value="Sedan Chair"/>
			<xs:enumeration value="Taxi"/>
			<xs:enumeration value="Train"/>
			<xs:enumeration value="Trolley"/>
			<xs:enumeration value="Tube"/>
			<xs:enumeration value="Walk"/>
			<xs:enumeration value="Water Taxi"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Car/Rush hour"/>
			<xs:enumeration value="Taxi/Rush hour"/>
			<xs:enumeration value="No Transportation"/>
			<xs:enumeration value="Express Train"/>
			<xs:enumeration value="Public"/>
			<xs:enumeration value="Ship/Ferry"/>
			<xs:enumeration value="Underground"/>
			<xs:enumeration value="Tram/light rail"/>
			<xs:enumeration value="Shared Taxi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeJourneyDirection">
		<xs:annotation>
			<xs:documentation>Outbound and Return directions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Outward"/>
			<xs:enumeration value="Return"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeRailSegmentInfo">
		<xs:annotation>
			<xs:documentation>Extra for ExtraSegmentInfo and Vendor for VendorMessages</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Extra"/>
			<xs:enumeration value="Vendor"/>
			<xs:enumeration value="Services"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeRailTicketStatus">
		<xs:annotation>
			<xs:documentation>Status Types for Ticket Info.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Not Print Ready"/>
			<xs:enumeration value="Can Be Printed"/>
			<xs:enumeration value="Queued (sent to print module)"/>
			<xs:enumeration value="Printed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RailJourneyList">
		<xs:annotation>
			<xs:documentation>List of Rail Journeys</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailJourney" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailJourneyRef">
		<xs:annotation>
			<xs:documentation>Reference to a RailJourney</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSegmentRef">
		<xs:annotation>
			<xs:documentation>Reference to a RaiLSegment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareNoteList">
		<xs:annotation>
			<xs:documentation>The shared object list of Notes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailFareNote" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareNote">
		<xs:annotation>
			<xs:documentation>A simple textual fare note. Used within several other objects.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Key" type="common:typeRef" use="required"/>
					<xs:attribute name="NoteName" type="xs:string" use="required"/>
					<xs:attributeGroup ref="common:attrElementKeyResults"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareList">
		<xs:annotation>
			<xs:documentation>The shared object list of FareInfos</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailFare" maxOccurs="999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareIDList">
		<xs:annotation>
			<xs:documentation>The shared object list of FareIDs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailFareID" maxOccurs="999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Key" type="common:typeRef" use="required"/>
					<xs:attribute name="Category" type="xs:string" use="optional"/>
					<xs:attributeGroup ref="common:attrElementKeyResults"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareComponent">
		<xs:annotation>
			<xs:documentation>Contains fare and discount information for each passenger type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Discount" minOccurs="0" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Discount information specific to the fare component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="common:DiscountCard" minOccurs="1" maxOccurs="9"/>
						</xs:sequence>
						<xs:attribute name="Key" type="common:typeRef" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
			<xs:attribute name="Amount" type="common:typeMoney">
				<xs:annotation>
					<xs:documentation>FareComponent amount</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Age" type="xs:integer" use="optional"/>
			<xs:attribute name="PassengerTypeCode" type="common:typePTC" use="optional">
				<xs:annotation>
					<xs:documentation>The three character passenger code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SupplierPassengerType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Supplier passenger type code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Quantity" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFare">
		<xs:annotation>
			<xs:documentation>Information about this fare component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailFareNoteRef" minOccurs="0" maxOccurs="999">
					<xs:annotation>
						<xs:documentation>Key reference to RailFareNote present in RailFareNotList</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:annotation>
						<xs:documentation>Use references on rail availability response, and the full fare IDs on the reservation.</xs:documentation>
					</xs:annotation>
					<xs:element ref="RailFareID" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="RailFareIDRef" minOccurs="0" maxOccurs="999"/>
				</xs:choice>
				<xs:element ref="FareValidity" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="common:HostToken" minOccurs="0"/>
				<xs:element ref="FulFillmentType" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="RailFareComponent" minOccurs="0" maxOccurs="99"/>
			</xs:sequence>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
			<xs:attribute name="FareBasis" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The fare basis code  or fare description for this fare</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CabinClass" type="common:typeRailCabin" use="required">
				<xs:annotation>
					<xs:documentation>The fare basis code or fare class for this fare</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PassengerTypeCode" type="common:typePTC" use="optional">
				<xs:annotation>
					<xs:documentation>The PTC that is associated with this fare. Default to ADT </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Origin" type="common:typeIATACode" use="optional">
				<xs:annotation>
					<xs:documentation>Returns the airport or city code that defines the origin market for this fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Destination" type="common:typeIATACode" use="optional">
				<xs:annotation>
					<xs:documentation>Returns the airport or city code that defines the destination market for this fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="EffectiveDate" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Returns the date on which this fare was quoted. Set as current date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Amount" type="common:typeMoney" use="optional"/>
			<xs:attribute name="RouteDescription" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Describes the route of the train fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TicketTypeCode" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Describes the main identifier code of the fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FareReference" use="optional">
				<xs:annotation>
					<xs:documentation>Unique reference for the fare that is required in RailExchangeQuote request. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CrossCityFare" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>Set to 'true' if the fare is valid across a Metropolitan Area, eg. Cross-London travel via the London Underground.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OriginStationName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The origin station name for the Rail Fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DestinationStationName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The destination station name for the Rail Fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ReservationRequired" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Set to true if a seat reservation is required while booking.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="JourneyDirection" type="typeJourneyDirection" use="optional">
				<xs:annotation>
					<xs:documentation>The direction of the Journey (Outward or Return) associated with the Rail fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RailLocOrigin" type="common:typeRailLocationCode" use="optional">
				<xs:annotation>
					<xs:documentation>RCH specific origin code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RailLocDestination" type="common:typeRailLocationCode" use="optional">
				<xs:annotation>
					<xs:documentation>RCH specific destination code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="common:attrElementKeyResults"/>
			<!-- Note: Add annotation. Total Price -->
		</xs:complexType>
	</xs:element>
	<xs:element name="FareValidity">
		<xs:annotation>
			<xs:documentation>Associates fare validity dates with journeys.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="RailJourneyRef" type="common:typeRef" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a journey to which this fare validity refers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotValidBefore" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>Fare not valid before this date.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotValidAfter" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>Fare not valid after this date.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareNoteRef">
		<xs:annotation>
			<xs:documentation>A reference to a fare note from a shared list. Used to minimize xml results.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareRef">
		<xs:annotation>
			<xs:documentation>Reference to a complete FareInfo from a shared list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailFareIDRef">
		<xs:annotation>
			<xs:documentation>Reference to a complete FareID from a shared list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="common:typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="attrRailOrigDestInfo">
		<xs:annotation>
			<xs:documentation>Holds all relevant origin/destination and departure/arrival details.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="common:attrOrigDestInfo">
			<xs:annotation>
				<xs:documentation>Journey Origin/Destination/Date-Time.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="OriginStationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The origin station name for the Journey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DestinationStationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The destination station name for the Journey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="attrRailSegmentOrigDestInfo">
		<xs:annotation>
			<xs:documentation>Holds all relevant origin/destination and departure/arrival details.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Origin" type="common:typeIATACode" use="optional">
			<xs:annotation>
				<xs:documentation>The IATA location code for this origination of this entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Destination" type="common:typeIATACode" use="optional">
			<xs:annotation>
				<xs:documentation>The IATA location code for this destination of this entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureTime" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The date and time at which this entity departs. This does not include time zone information since it can be derived from the origin location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ArrivalTime" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time at which this entity arrives at the destination. This does not include time zone information since it can be derived from the origin location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OriginStationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The origin station name for the Journey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DestinationStationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The destination station name for the Journey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RailLocOrigin" type="common:typeRailLocationCode" use="optional">
			<xs:annotation>
				<xs:documentation>RCH specific origin code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RailLocDestination" type="common:typeRailLocationCode" use="optional">
			<xs:annotation>
				<xs:documentation>RCH specific destination code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="attrRailInfoOrgDesAndRailLoc">
		<xs:annotation>
			<xs:documentation>Basic attributes used to describe an origin destination pair</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Origin" type="common:typeIATACode" use="optional">
			<xs:annotation>
				<xs:documentation>The IATA location code for this origination of this entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RailLocOrigin" type="common:typeRailLocationCode" use="optional">
			<xs:annotation>
				<xs:documentation>RCH specific origin code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Destination" type="common:typeIATACode" use="optional">
			<xs:annotation>
				<xs:documentation>The IATA location code for this destination of this entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RailLocDestination" type="common:typeRailLocationCode" use="optional">
			<xs:annotation>
				<xs:documentation>RCH specific destination code (a.k.a UCodes) which uniquely identifies a train station.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureTime" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The date and time at which this entity departs. This does not include time zone information since it can be derived from the origin location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ArrivalTime" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The date and time at which this entity arrives at the destination. This does not include time zone information since it can be derived from the origin location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="RailRefundInfo">
		<xs:annotation>
			<xs:documentation>Information about refund.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="RefundAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>Amount refunded back to customer.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CancellationFee" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>Cancellation penalty imposed by the distributor.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Refund" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates whether vendor offers refund on rail reservation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Retain" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates whether vendor retains the amount to be used later.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RetainAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>Amount retained by rail vendor for futute exchange/rail book at rail vendor site.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NetAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>Net total amount to be refunded or retained by the vendor.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSearchModifiers">
		<xs:annotation>
			<xs:documentation>Controls and switches for the Rail Availability Search request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PreferredSuppliers" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="RailSupplier" maxOccurs="999"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="MaxChanges" use="optional" default="2">
				<xs:annotation>
					<xs:documentation>The maximum number of stops within a connection.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Direction" type="typeRailDirection" use="optional">
				<xs:annotation>
					<xs:documentation>The direction of travel.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Class" type="xs:string" use="optional"/>
			<xs:attribute name="MaxSolutions" type="xs:integer" use="optional" default="300">
				<xs:annotation>
					<xs:documentation>The maximum number of solutions to return. Decreasing this number</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailPricingModifiers">
		<xs:annotation>
			<xs:documentation>Search flexibiity criteria .</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="common:DiscountCard" minOccurs="0" maxOccurs="9">
					<xs:annotation>
						<xs:documentation>Discount request for rail.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ProhibitNonRefundableFares" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>Indicates whether it prohibits NonRefundable Fares.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ProhibitNonExchangeableFares" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>Indicates whether it prohibits NonExchangeable Fares .</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CurrencyType" type="common:typeCurrency" use="optional">
				<xs:annotation>
					<xs:documentation>3 Letter Currency Code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RailSearchType" type="common:typeRailSearchType" use="optional">
				<xs:annotation>
					<xs:documentation>RailSearchType options are "All Fares"  "Fastest"  "Lowest Fare" "One Fare Per Class" "Seasons".  Supported by NTV/VF only for "All Fares" "Lowest Fare" and "One Fare Per Class". Provider : RCH</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="typeRailDirection">
		<xs:annotation>
			<xs:documentation>The direction of travel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Inbound"/>
			<xs:enumeration value="Outbound"/>
			<xs:enumeration value="Both"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RailExchangeInfo">
		<xs:annotation>
			<xs:documentation>Exchange information for the rail booking.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="RefundAmount" type="common:typeMoney" use="optional"/>
			<xs:attribute name="CancellationFee" type="common:typeMoney" use="optional"/>
			<xs:attribute name="ExchangeAmount" type="common:typeMoney" use="optional"/>
			<xs:attribute name="ApproximateRefundAmount" type="common:typeMoney" use="optional"/>
			<xs:attribute name="ApproximateCancellationFee" type="common:typeMoney" use="optional"/>
			<xs:attribute name="ApproximateExchangeAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>The Converted total price in Default Currency for this entity including base price and all taxes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RetainAmount" type="common:typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>Amount retained by a rail vendor for future use at the vendor’s site.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="typeTrainNumber">
		<xs:annotation>
			<xs:documentation>The number that this train route operates under</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeCoachClassType">
		<xs:annotation>
			<xs:documentation>Values for accommodation class.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="First Class"/>
			<xs:enumeration value="Standard Class"/>
			<xs:enumeration value="First and Standard Class"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeResponseType">
		<xs:annotation>
			<xs:documentation>Indicates the type of information to be returned in RailShopModifyAPIResponse.  Values are “Schedules” or “Availability” or “Fares”.  If not sent, “Fares” will be mapped if the request is for a specific rail segments, otherwise “Availability” will be mapped. Provider Supported RCH.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Availability"/>
			<xs:enumeration value="Schedules"/>
			<xs:enumeration value="Fares"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RailInfo">
		<xs:annotation>
			<xs:documentation>Container for rail-related information required for retrieving a rail seat map/coach map</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="attrRailInfoOrgDesAndRailLoc">
				<xs:annotation>
					<xs:documentation>Journey Origin/Destination/Date-Time.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
			<xs:attribute name="TrainNumber" type="typeTrainNumber" use="required"/>
			<xs:attribute name="ProviderCode" type="common:typeProviderCode" use="required"/>
			<xs:attribute name="SupplierCode" type="common:typeSupplierCode" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coach">
		<xs:annotation>
			<xs:documentation>Captures rail seat map/coach map information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Characteristic" minOccurs="0"/>
				<xs:element ref="common:Remark" minOccurs="0" maxOccurs="999"/>
			</xs:sequence>
			<xs:attribute name="CoachNumber" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Coach number for which seat map/coach map is returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSupplier">
		<xs:complexType>
			<xs:attribute name="Code" type="common:typeSupplierCode" use="required">
				<xs:annotation>
					<xs:documentation>2 character Rail distributor code.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Characteristic">
		<xs:annotation>
			<xs:documentation>Defines coach characteristics such as accommodation class, smoking choice, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Smoking" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="Class" type="typeCoachClassType" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailSolutionChangedInfo">
		<xs:annotation>
			<xs:documentation>If RetainReservation is None, this will contain the new values returned from the provider.  If RetainReservation is Price, Schedule, or Both and there is a price/schedule change, this will contain the new values that were returned from the provider.  If RetainReservation is Price, Schedule, or Both and there isn’t a price/schedule change, this element will not be returned.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RailPricingSolution"/>
			</xs:sequence>
			<xs:attribute name="ReasonCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Price"/>
						<xs:enumeration value="Schedule"/>
						<xs:enumeration value="Both"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailAutoSeatAssignment">
		<xs:annotation>
			<xs:documentation>Request object used to request seats automatically by seat type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="SeatType" use="required">
				<xs:annotation>
					<xs:documentation>Indicates codeset of values such as Seat Type like Place,Position, Smoking Choice, Place Arrangement, Place Direction, Compartment. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SeatValue" use="required">
				<xs:annotation>
					<xs:documentation>Indicates the value specific to the selected type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RailSegmentRef" type="common:typeRef" use="optional">
				<xs:annotation>
					<xs:documentation>The rail segment that this assignment belongs to</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BookingTravelerRef" type="common:typeRef" use="optional">
				<xs:annotation>
					<xs:documentation>The booking traveler that this seat assignment is for. If not entered, this applies to the primary booking traveler and other passengers are adjacent.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RailAvailInfo">
		<xs:complexType>
			<xs:attribute name="ClassCode" type="common:typeRailClass" use="optional">
				<xs:annotation>
					<xs:documentation>A booking code or fare basis code or fare class.  </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Quantity" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>Available fare basis code or fare class quantity.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CabinClass" type="common:typeRailCabin" use="optional">
				<xs:annotation>
					<xs:documentation>The fare basis code or fare class for this fare.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FulFillmentType">
		<xs:annotation>
			<xs:documentation>Fulfillment options for this segment. the options will be one of "Ticket on Departure", "Ticketless", "Ticket By Email", "Travel Agency"
         </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RailSpecificSeatAssignment">
		<xs:annotation>
			<xs:documentation>Request object used to request a specific coach and seat number or a seat near-to a specific seat number.  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="CoachLabel" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The coach number of the train being requested.  </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PlaceLabel" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The actual seat number or the close-to seat number based on the Assignment.  </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Assignment" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines how the PlaceLabel should be applied.  The values are 6.STP for actual seat or 2.STP for close-to seat. Default is 2.STP. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RailSegmentRef" type="common:typeRef" use="required">
				<xs:annotation>
					<xs:documentation>The rail segment to which this assignment belongs.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BookingTravelerRef" type="common:typeRef" use="required">
				<xs:annotation>
					<xs:documentation>The BookingTraveler for this seat assignment.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TicketAdvisory">
		<xs:annotation>
			<xs:documentation>Additional ticket information.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="common:StringLength1to500">
					<xs:attribute name="Key" type="common:typeRef" use="optional"/>
					<xs:attribute name="LanguageCode" type="xs:language" use="optional">
						<xs:annotation>
							<xs:documentation>ISO 639 two-character language codes are used to retrieve specific information in the requested language. For Rich Content and Branding, language codes ZH-HANT (Chinese Traditional), ZH-HANS (Chinese Simplified), FR-CA (French Canadian) and PT-BR (Portuguese Brazil) can also be used. For RCH, language codes ENGB, ENUS, DEDE, DECH can also be used. Only certain services support this attribute. Providers: ACH, RCH, 1G, 1V, 1P, 1J.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
