tests/fixtures/defxmlschema/chapter07/example0701.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 7-1 Global attribute declarations -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datypic.com/prod" targetNamespace="http://datypic.com/prod">
  <xs:attribute name="system" type="xs:string" />
  <xs:attribute name="dim" type="xs:integer" />
  <xs:complexType name="SizeType">
    <xs:attribute ref="system" use="required" />
    <xs:attribute ref="dim" />
  </xs:complexType>
</xs:schema>
