tests/fixtures/defxmlschema/chapter19/example1919-2.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 19-19 Allowing future extensions for attributes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="attExt" />
  <xs:element name="x">
    <xs:complexType>
      <!-- content model here -->
      <xs:attribute name="id" type="xs:ID" use="required" />
      <xs:attributeGroup ref="attExt" />
    </xs:complexType>
  </xs:element>
</xs:schema>
