tests/fixtures/defxmlschema/chapter19/example1911-2.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 19-11 Reusing entire content models -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AOrBType">
    <xs:choice>
      <xs:element ref="a" />
      <xs:element ref="b" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="x" type="AOrBType" />
  <xs:element name="y" type="AOrBType" />
</xs:schema>
