tests/fixtures/defxmlschema/chapter23/example2313-1.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 23-13 Using multiple methods to indicate version number -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://datypic.com/prod/2" targetNamespace="http://datypic.com/prod/2" version="2.1">
  <xs:element name="product" type="ProductType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" minOccurs="0" />
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:decimal" />
  </xs:complexType>
</xs:schema>
