tests/fixtures/defxmlschema/chapter23/example2310-1.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 23-10 Using a version number in the schema location -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://datypic.com/prod" targetNamespace="http://datypic.com/prod">
  <xs:element name="product" type="ProductType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" minOccurs="0" />
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
