tests/fixtures/defxmlschema/chapter16/example1604.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 16-4 Substitution group with simple types -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="number" />
  <xs:element name="skuNumber" type="xs:string" substitutionGroup="number" />
  <xs:element name="productID" type="xs:integer" substitutionGroup="number" />
</xs:schema>
