tests/fixtures/defxmlschema/chapter16/example1609.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 16-9 Using final to control substitution group declaration -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product" type="ProductType" final="#all" />
  <xs:element name="items" type="ItemsType" final="extension" />
  <xs:element name="color" type="xs:string" final="restriction" />
  <xs:element name="size" type="SizeType" final="" />
</xs:schema>
