tests/fixtures/defxmlschema/chapter16/example1605.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 16-5 A member of two substitution groups -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product" type="ProductType" />
  <xs:element name="discontinuedProduct" type="ProductType" />
  <xs:element name="hat" type="HatType" substitutionGroup="product" />
  <xs:element name="shirt" type="ShirtType" substitutionGroup="product" />
  <xs:element name="umbrella" type="UmbrellaType" substitutionGroup="product discontinuedProduct" />
  <!-- SKIPTEST: Incomplete fixture -->
</xs:schema>
