tests/fixtures/defxmlschema/chapter13/example1316-1.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 13-16 Restricting element declarations -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:sequence>
    <xs:element name="a" maxOccurs="3" />
    <xs:element name="b" fixed="bValue" />
    <xs:element name="c" type="xs:string" />
  </xs:sequence>
</xs:schema>
