tests/fixtures/defxmlschema/chapter13/example1306.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 13-6 Effective content model of ShirtType with all groups combined -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShirtType">
    <xs:all>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="size" type="xs:integer" />
      <xs:element name="color" type="xs:string" />
    </xs:all>
  </xs:complexType>
</xs:schema>
