tests/fixtures/defxmlschema/chapter13/example1333.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 13-33 Replacing an attribute wildcard with attributes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseType">
    <xs:anyAttribute processContents="lax" namespace="##any" />
  </xs:complexType>
  <xs:complexType name="DerivedType">
    <xs:complexContent>
      <xs:restriction base="BaseType">
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="name" type="xs:string" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
