tests/fixtures/defxmlschema/chapter03/example0314.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 3-14 Declaring a target namespace -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datypic.com/prod" targetNamespace="http://datypic.com/prod">
  <xs:element name="product" type="ProductType" />
  <xs:element name="number" type="xs:integer" />
  <xs:element name="size" type="SizeType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element ref="number" />
      <xs:element ref="size" />
    </xs:sequence>
  </xs:complexType>
  <!-- ... -->
</xs:schema>
