tests/fixtures/defxmlschema/chapter03/example0316.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 3-16 Declaring the XML Schema Namespace -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="number" type="xs:integer" />
  <xs:element name="size" type="SizeType" />
  <xs:simpleType name="SizeType">
    <!-- ... -->
  </xs:simpleType>
</xs:schema>
