tests/fixtures/defxmlschema/chapter11/example11061.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 11-6 Using IDREFS -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quote">
    <xs:complexType>
      <!-- content model -->
      <xs:attribute name="refs" type="xs:IDREFS" />
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType>
      <!-- content model -->
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
