tests/fixtures/defxmlschema/chapter12/example1228.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-28 Illegal nondeterministic content model -->
<!-- SKIPTEST: Duplicated attributes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AOrBOrBothType">
    <xs:choice>
      <xs:element name="a" type="xs:string" />
      <xs:element name="b" type="xs:string" />
      <xs:sequence>
        <xs:element name="a" type="xs:string" />
        <xs:element name="b" type="xs:string" />
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
</xs:schema>
