tests/fixtures/defxmlschema/chapter12/example1226.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-26 An illegal all group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../chapter10/example1001.xsd" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:all>
        <xs:element name="size" type="SizeType" minOccurs="0" />
        <xs:element name="color" type="xs:string" minOccurs="0" />
      </xs:all>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
