tests/fixtures/defxmlschema/chapter12/example1232.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-32 Complex type with attribute group reference -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:attributeGroup ref="IdentifierGroup" />
    <xs:attribute name="effDate" type="xs:date" />
  </xs:complexType>
  <xs:attributeGroup name="IdentifierGroup">
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="version" type="xs:decimal" />
  </xs:attributeGroup>
</xs:schema>
