tests/fixtures/defxmlschema/chapter12/example1214.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-14 Illegal duplication of element names -->
<!-- SKIPTEST -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="number" type="xs:integer" />
        <xs:element name="name" type="xs:string" minOccurs="0" />
      </xs:sequence>
      <xs:element name="name" type="xs:token" />
    </xs:choice>
  </xs:complexType>
</xs:schema>
