tests/fixtures/defxmlschema/chapter12/example1224.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-24 An all group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:all>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="size" type="xs:integer" minOccurs="0" />
      <xs:element name="color" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>
</xs:schema>
