tests/fixtures/defxmlschema/chapter12/example1242.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-42 Defining a suffix open content model -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product" type="OpenProductType" />
  <xs:complexType name="OpenProductType">
    <xs:openContent mode="suffix">
      <!-- SKIPTEST: XML Schema 1.1 -->
      <xs:any namespace="##local" processContents="strict" />
    </xs:openContent>
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="something" type="xs:string" />
</xs:schema>
