tests/fixtures/defxmlschema/chapter12/example1219.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-19 A choice group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../chapter16/example1607.xsd" />
  <xs:complexType name="ItemsType">
    <xs:choice>
      <xs:element name="shirt" type="ShirtType" />
      <xs:element name="hat" type="HatType" />
      <xs:element name="umbrella" type="UmbrellaType" />
    </xs:choice>
  </xs:complexType>
</xs:schema>
