tests/fixtures/defxmlschema/chapter12/example1218.xsd

<!-- Definitive XML Schema by Priscilla Walmsley (c) 2012 Prentice Hall PTR -->
<!-- Example 12-18 Enforcing order for better constraints -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:integer" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="color" type="xs:string" maxOccurs="3" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
